<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liarkat.testwhatatest">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Status"></activity>
        <activity
            android:name=".Resultado"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DecimaPregunta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NovenaPregunta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OctavaPregunta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SeptimaPregunta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SextaPregunta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuintaPregunta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CuartaPregunta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TerceraPregunta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SegundaPregunta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Primerapregunta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>