<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liarkat.testwhatatest">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Resultado"></activity>
        <activity android:name=".DecimaPregunta" />
        <activity android:name=".NovenaPregunta" />
        <activity android:name=".OctavaPregunta" />
        <activity android:name=".SeptimaPregunta" />
        <activity android:name=".SextaPregunta" />
        <activity android:name=".QuintaPregunta" />
        <activity android:name=".CuartaPregunta" />
        <activity android:name=".TerceraPregunta" />
        <activity android:name=".SegundaPregunta" />
        <activity android:name=".Primerapregunta" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>